.navbar
  %a.navbar-brand{href:"#"} Hello
  %ul.nav.navbar-nav
    / %li
    /   %a{href:"#"}Home
    / %li
    /   %a{href:"#"}Link
    / %li
    /   %a{href:"#"}Link
  %button.btn.btn-default.navbar-btn.pull-right#sign-in
    Sign in